html, body{
    height:100%;
    margin:0;
}
body{
    background-color:gray;
}
                      /*navigation bar*/
nav li{
    display:inline;
    margin:-5px;
    color:red;
}
nav ul{
    background-color:red;
    text-align:center;
    margin:0;
    list-style-type:none;
    width:100%;
    padding:5px;
}
nav{
    display:inline;
    color:white;
}
nav a{
    color:red;
    text-decoration:none;
}
nav a:hover {
    background-color:darkgrey;
    color:red;
    box-shadow:0 0 20px rgb(3, 73, 49);
}
                                /*hero image*/
.hero-image{
        background:url("../img/iStock-sidetoside.jpg");
        height:70%;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        position:relative;
        text-align:center;
}
                           /*bottom links*/
a:link{
    text-decoration:none;
    padding:20px;
}
                        
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
                        
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
                                                        /*footer*/
footer{
    background-color:red;
    height:5;
    margin:5px;
    padding-bottom:8px;
}
footer div{
    text-align:center;
    color:white;
}

                             /*copy*/